.plitemContainer {
   display: flex;
   flex-direction: row;
   cursor: pointer;
   padding: 8px 10px;   
   border-radius: 5px;
 } 

 .activeelement{
  background-color: var(--background-tinted-highlight);
  transition: all 0.1s ease-in-out;
 }

 .warningelement{
  background-color: var(--background-tinted-warning);
  transition: all 0.1s ease-in-out;
 }

 .plItemInfo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
  gap: 10px;
  width: 100%;
  color: var(--text-base);   
 }

 .plitemContainer:hover{
    background-color: var(--background-tinted-press);
    transition: all 0.1s ease-in-out;
 }

.plitemAction{   
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  color: var(--text-base); 
}
.visible{
  display: flex;
  width: 20%;
  max-width: 40px;
}

.hidden{
  display: none;
}

 .plitemImage{  
  display: flex;
  justify-content: center;
}
 .plitemImage > img{
   width: 48px;
   border-radius: 2px;      
 }

 .plitemLabels{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;     
   gap: 5px;
   z-index: 100;
   color: var(--text-base);   
   cursor: pointer;
 }

 .plitemLabels > h3{   
   font-size: medium;
   font-weight: 400;
   letter-spacing: 0.5px;
 }

 .plitemLabels > span{   
   font-size: small;
   text-indent: 15px;
   color: var(--text-passive);
   
 }
 
 .contextMenu {
  position: absolute;  
  z-index: 1;
  background-color: var(--background-base);
  border: 1px solid var(--background-tinted-base);
  color: var(--text-base);  
  padding: 0px 10px;
  z-index: 1000;
}

.contextMenuItem {
  cursor: pointer;
  margin: 10px 0px;
}