.listContainer{          
   display: flex;
   height: 100%;
   flex-direction: column;
   text-align: start;
   justify-content: flex-start;
   align-items: flex-start;
   font-size: 1rem;
   cursor: pointer;    
   background-color: hsla(0, 0%, 26%, 0.712);
   padding-left: 30px;
   padding-right: 25px;
   color: aliceblue;
   overflow: visible scroll;
   letter-spacing: 2px;
   overflow: scroll;
}
.listContainer::-webkit-scrollbar {
   display: none;
 }


.listTitle{
   font-size: 3rem;
   margin-left: 7px;
}

.listitem{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;   
   align-items: baseline;
   border-bottom: 1px solid hsla(0, 0%, 86%, 0.55);   
   margin-bottom: 5px;   
}

.listitem:hover{
   background-color: hsla(0, 0%, 26%, 0.712);
   border: 1px solid hsla(0, 0%, 100%, 0.89);
   color:hsla(0, 0%, 100%, 0.89);   
}

