nav {
  /*background:linear-gradient(120deg, #1db954af, #000000);*/
  padding: 15px 30px;
  border-bottom: 1px solid lightgray;
}

nav a {
  color: lightgray;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
